{% extends 'base.html' %}
{% load static %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'responses' bot_id %}">Responses</a></li>
    <li class="breadcrumb-item active">Add Action</li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <form method="post">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header">
                            <strong>Action</strong>
                        </div>
                        <div class="card-block">
                            {{ form.as_p }}
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
