{% extends 'base.html' %}

{% block title %}Edit Entity{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'bots' %}">Bots</a></li>
    <li class="breadcrumb-item"><a href="{% url 'bot_detail' bot_id=bot.id %}">{{ bot.bot_name }}</a></li>
    <li class="breadcrumb-item active">{{ entity.entity_name }}</li>

    <li class="breadcrumb-menu">
        <div class="btn-group" role="group">
            <a class="btn btn-outline-secondary" href="{% url 'delete_entity' bot_id=entity.bot.id entity_id=entity.id %}"><i class="fa fa-trash"></i>
                &nbsp;Delete Entity</a>
        </div>
    </li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <form method="post">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header">
                            <strong>Entity</strong>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="formGroupEntityNameInputId"
                                            data-toggle="tooltip" data-placement="right"
                                            title="Name of the Entity. NLU uses this name in structured response">Entity
                                            Name</label>
                                        <input name="entity_name" type="text" class="form-control"
                                            id="formGroupEntityNameInputId" value="{{ entity.entity_name }}"
                                            placeholder="Service Endpoint URL" />
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="formSlottypeId">Slot Data Type</label>
                                        <input name="slot_data_type" type="text" class="form-control"
                                            id="formSlottypeId" value="{{ entity.slot_data_type }}" type="text"
                                            list="slot_data_typesList"
                                            placeholder="Optional: Data Type of the slot if Rasa Core is being used." />
                                        <datalist id="slot_data_typesList">
                                            <option>text</option>
                                            <option>bool</option>
                                            <option>categorical</option>
                                            <option>float</option>
                                            <option>list</option>
                                            <option>unfeaturized</option>
                                        </datalist>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                                Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}