{% extends 'base.html' %}
{% load i18n %}
{% block title %} Edit Entity {% endblock %}
{% load static %}
{% block styles %}
<link href="{% static 'css/edit_intent.css' %}" rel="stylesheet">
{% endblock %}
{% load my_filters %}
{% block content %}
<ol class="breadcrumb" breadcrumb="">
    <li class="breadcrumb-item"><a href="{% url 'bots' %}">Bots</a></li>
    <li class="breadcrumb-item"><a href="{% url 'bot_detail' bot_id=bot.id %}">{{ bot.bot_name }}</a></li>
    <li class="breadcrumb-item active">{{intent.intent_name}}</li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu">
        <div class="btn-group" role="group">
            <a class="btn btn-outline-secondary" click="deleteIntent()" confirm-click-title="Delete Intent"
                confirm-click="Are you sure? This will delete the intent and all its expressions, and their resolved entities.">
                <i class="fa fa-trash"></i> &nbsp;Delete Intent</a>
        </div>
    </li>
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <form>
                    <div class="card">
                        <div class="card-header">
                            <strong>Intent Name</strong>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="{{intent.intent_name}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-sm btn-primary"
                                click="updateIntentNameAndWebhook(intent)"><i
                                    class="fa fa-dot-circle-o"></i>Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <form autocomplete="off" id="addExpressionForm">
                        {% csrf_token %}

                        <div class="card-header">
                            <strong>Expressions</strong>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="text">User Says ...</label>
                                        <input type="text" autocomplete="off" class="form-control" id="text"
                                            placeholder="Enter an expression and press enter">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                    <form>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Highlight the word you want to reference as a entity value ...</label>
                                    <div class="list-group">
                                        {% for expression in expression_list %}
                                        <div class="list-group-item">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input toggle-expression-status" id="toggle_train_test_{{expression.id}}" {% if expression.is_train %}checked{% endif %}>
                                                <label class="custom-control-label" for="toggle_train_test_{{expression.id}}"></label>
                                                <span id="expression_{{expression.id}}">{{expression.expression_text}}</span>
                                            </div>
                                            <span class="float-right">
                                                <span class="badge-default badge-pill mr-2">( {{ parameter_list|length_filtered:expression.id }} )</span>
                                                <button class="btn btn-outline-secondary send-expression">
                                                    <span class="fa fa-bolt"></span>
                                                </button>
                                                <button class="btn btn-outline-secondary link-btn disabled"
                                                    data-toggle="tooltip" title="Link parameter" disabled>
                                                    <span class="fa fa-link"></span>
                                                </button>
                                                <button class="btn btn-outline-secondary mr-2" data-toggle="collapse"
                                                    data-target="#table_expression_{{expression.id}}"
                                                    aria-expanded="false"
                                                    aria-controls="table_expression_{{expression.id}}">
                                                    <span class="fa fa-arrow-down"
                                                        id="icon_expression_{{expression.id}}"></span>
                                                </button>
                                                <button class="btn btn-outline-danger delete-expression">
                                                    <span class="fa fa-trash"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <div class="collapse" id="table_expression_{{expression.id}}">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Entity</th>
                                                        <th>Resolved Value</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for parameter in parameter_list %}
                                                    {% if parameter.expression.id == expression.id %}
                                                    <tr data-parameter-id="{{ parameter.id }}">
                                                        <td class="col-md-3">
                                                            <select class="form-control entity-select">
                                                                <option value="">Please select one</option>
                                                                {% for entity in entity_list %}
                                                                <option value="{{ entity.id }}" {% if entity.id == parameter.entity.id %}selected{% endif %}>{{ entity.entity_name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </td>
                                                        <td class="td-middle">{{ parameter.parameter_value }}</td>
                                                        <td class="col-md-1" style="width: 110px;">
                                                            <button class="btn btn-outline-success save-btn disabled"
                                                                disabled>
                                                                <span class="fa fa-save"></span>
                                                            </button>
                                                            <button class="btn btn-outline-danger delete-btn">
                                                                <span class="fa fa-trash"></span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <br>
                                    <div style="float:right">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                              {% if expression_list.has_previous %}
                                              <li class="page-item">
                                                <a class="page-link" href="?page=1">First</a>
                                              </li>
                                              <li class="page-item">
                                                <a class="page-link" href="?page={{ expression_list.previous_page_number }}">Previous</a>
                                              </li>
                                              {% endif %}
                                              <li class="page-item disabled">
                                                <a class="page-link" href="#">Page {{ expression_list.number }} of {{ expression_list.paginator.num_pages }}</a>
                                              </li>
                                              {% if expression_list.has_next %}
                                              <li class="page-item">
                                                <a class="page-link" href="?page={{ expression_list.next_page_number }}">Next</a>
                                              </li>
                                              <li class="page-item">
                                                <a class="page-link" href="?page={{ expression_list.paginator.num_pages }}">Last</a>
                                              </li>
                                              {% endif %}
                                            </ul>
                                          </nav>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/json" id="parameterListData">
    {{ parameter_json|safe }}
</script>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/edit_intent.js' %}"></script>
{% endblock %}