# Virtual environment
/venv/
cache/
# Compiled Python files
*.pyc
rasaenv/
# Logs
/logs/

# Rasa model files
/models/

# Rasa action server logs
/actions/logs/

# Rasa test results
/results/

# Rasa lock file
.lock
