{% load static %}
{% load i18n %}
<div id="sidebar" class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">

            <li class="divider"></li>

            <!-- <li class="nav-item">
                <a class="nav-link {% if request.path == '/dashboard/' %}active{% endif %}"
                    href="{% url 'dashboard' %}"><i class="fa fa-tachometer-alt"></i> Dashboard
                </a>
            </li> -->

            <li class="divider"></li>

            <li class="nav-item">
                <a class="nav-link {% if request.path == '/bots/' or request.path == '/bot/' %}active{% endif %}"
                    href="{% url 'bots' %}"><i class="fa fa-robot"></i> Bots</a>
            </li>

            <li class="divider"></li>

            <li class="nav-title">Components</li>

            <li class="nav-item">
                <a class="nav-link {% if request.path == '/responses/' %}active{% endif %}"
                    href="{% url 'responses' %}"><i class="fa fa-comment"></i> Responses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/stories/' %}active{% endif %}" href="{% url 'stories' %}"><i
                        class="fa fa-book"></i> Stories</a>
            </li>
            <!-- Rules -->
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/rules/' %}active{% endif %}" href="{% url 'rules' %}"><i
                        class="fa fa-gavel"></i> Rules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/training/' %}active{% endif %}"
                    href="{% url 'training' %}"><i class="fa fa-graduation-cap"></i> Training</a>
            </li>
            <!-- Test -->
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/test/' %}active{% endif %}" href="{% url 'test' %}"  ><i
                        class="fa fa-flask"></i> Test</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/models/' %}active{% endif %}" href="{% url 'models' %}"><i
                        class="fa fa-cogs"></i> Models</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link {% if request.path == '/chat/' %}active{% endif %}" href="{% url 'chat' %}"><i
                        class="fa fa-comments"></i> Chat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/settings/' %}active{% endif %}"
                    href="{% url 'settings' %}"><i class="fa fa-cogs"></i> Settings</a>
            </li> -->
            <!-- TODO: Need to fix Insights page then add back 
            <li class="nav-item">
              <a class="nav-link" ng-class="{active: $route.current.activePage == 'insights'}" href="#/insights"><i
                  class="fa fa-chart-bar"></i> Insights</a>
            </li>
            -->
            <li class="divider"></li>

            
            <li class="nav-title">Rasa</li>
            <!-- History -->
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/history/' %}active{% endif %}" href="{% url 'histories' %}"><i
                        class="fa fa-history"></i> History</a>
            </li>
            <!-- User -->
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/users/' %}active{% endif %}" href="{% url 'users' %}"><i
                        class="fa fa-user"></i> Users</a>
            </li>
            <!--  <li class="nav-item">
                <a class="nav-link {% if request.path == '/logs/' %}active{% endif %}" href="{% url 'logs' %}"><i
                        class="fa fa-file-alt"></i> Logs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/rasaconfig/' %}active{% endif %}"
                    href="{% url 'rasa_config' %}"><i class="fa fa-cogs"></i> Configuration</a>
            </li> -->

            <li class="nav-title">&nbsp;</li>

        </ul>
    </nav>
</div>