{% extends 'base.html' %}
{% block title %}Add Regex{% endblock %}
{% load static %}
{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'bots' %}">Bots</a></li>
    <li class="breadcrumb-item"><a href="{% url 'bot_detail' bot_id=bot.id %}">{{ bot.bot_name }}</a></li>
    <li class="breadcrumb-item active">Add Regex</li>
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <form method="post">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header"><strong>Regex</strong></div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input autocomplete="off" type="text" name="regex_name" class="form-control"
                                            id="name" placeholder="Enter the regex name" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fa fa-dot-circle-o"></i> Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/add_regex.js' %}"></script>
{% endblock %}