{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'bots' %}">{% trans 'Bots' %}</a></li>
    <li class="breadcrumb-item active">{% trans 'Add Bot' %}</li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <form method="post">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header">
                            <strong>{% trans 'Bot' %}</strong>
                        </div>
                        <div class="card-block">
                            {{ form.as_p }}
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>{% trans 'Save' %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}