{% extends "admin/change_form.html" %} {% block content %}
<link
  rel="stylesheet"
  href="https://js.arcgis.com/4.29/esri/themes/light/main.css"
/>
<script src="https://js.arcgis.com/4.29/"></script>

<div id="content-main">
  <form
    id="{{ opts.model_name }}_form"
    method="post"
    enctype="multipart/form-data"
    novalidate
  >
    {% csrf_token %} {{ form.non_field_errors }} 
    
    {% if opts.model_name == 'business' %}
    <div id="viewDiv" style="height: 350px; width: 100%"></div>
    {% endif %}

    {{ block.super }}
  </form>
</div>

<script>
  require([
    "esri/config",
    "esri/Map",
    "esri/views/MapView",
    "esri/widgets/Search",
  ], function (esriConfig, Map, MapView, Search) {
    
    esriConfig.apiKey = "AAPKf6bad8545535400a83f358f5fdf81051y9eWCcsG42YNDkQfOus38QvbZP6AqfXXILZV1K4WLE4g3VcICpzo9Az2siZv_Vit";

    const map = new Map({
      basemap: "arcgis/navigation",
    });

    const view = new MapView({
      container: "viewDiv",
      map: map,
      center: [105.1524, 9.1762],
      zoom: 12,
    });

    //Add Search widget
    const search = new Search({
      view: view,
    });

    //Add to the map
    view.ui.add(search, "top-right"); 

    // Listen for the search-complete event to get the result
    search.on("search-complete", function (event) {
      var result = event.results[0];
      if (result) {
        var latitude = result.results[0].feature.geometry.latitude;
        var longitude = result.results[0].feature.geometry.longitude;
        var address = result.results[0].name;
        console.log("Latitude:", latitude, "Longitude:", longitude, "Address", address);

        document.getElementById('id_latitude').value = latitude;
        document.getElementById('id_longitude').value = longitude;
        document.getElementById('id_address').value = address;
      }
    });
  });
  
</script>

{% endblock %}
