<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BizRegBot</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-5.3.2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/vendor/core-ui.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <!-- Các file CSS khác -->
    {% block styles %} {% endblock %}
</head>

<body>
    <div class="container-fluid">
        {% include 'shared/navbar/navbar.html' %}
        <div class="row">
            <!-- Sidebar -->
            <div class="col-lg-2 sidebar-fixed">
                {% include 'shared/sidebar/sidebar.html' %}
            </div>
            <!-- Main Content -->
            <main role="main" class="col-lg-10 ml-sm-auto px-md-4">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!-- Custom scripts -->
    <script src="{% static 'js/bots.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <!-- Các script khác theo nhu cầu cụ thể của trang -->

    <!-- Sidebar và Navbar scripts -->

    <script src="{% static 'js/sidebar/sidebar.js' %}"></script>
    <script src="{% static 'js/navbar/navbar.js' %}"></script>
    <!-- Các script khác -->
    {% block scripts %} {% endblock %}
</body>

</html>